{{!< default}}
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div id="notebook">
        <div id="leftPostIt" class="post-it">
          <div class="title">BigEndians</div>
          <div class="content">
            <ul>
              <li><div><a href="">About</a></div></li>
              <li><div><a href="">Archives</a></div></li>
              <li><div><a href="">Credits</a></div></li>
            </ul>
          </div>
        </div>
        <div id="rightPostIt" class="post-it">
          <ul>
          {{#foreach posts}}
            <li>
              <div><a href="{{url}}">{{title}}</a></div>
              <div class="date">{{date published_at timeago="true"}}</div>
            </li>
          {{/foreach}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

