{{!< default}}
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div id="notebook">
        <div id="leftPostIt">
          <div class="title">BigEndians</div>
          <div>About</div>
          <div>Archives</div>
          <div>Credits</div>
        </div>
        <div id="rightPostIt">
          {{#foreach posts}}
          {{title}}
          {{/foreach}}
        </div>
      </div>
    </div>
  </div>
</div>

