{{!< default}}
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div id="notebook">
        <div id="leftPostIt" class="post-it">
          <div class="title">BigEndians</div>
          <div class="content">
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="#">Résumé</a></li>
              <li><a href="/credits">Credits</a></li>
            </ul>
          </div>
        </div>
        <div id="rightPostIt" class="post-it">
          <ul>
<!-- TODO(mqhwang): This could potentially overflow if there are a lot of long titled posts in succession. -->
          {{#foreach posts}}
            <li>
              <div><a href="{{url}}">{{title}}</a></div>
              <div class="date">{{date published_at timeago="true"}}</div>
            </li>
          {{/foreach}}
          </ul>
          {{pagination}}
        </div>
      </div>
    </div>
  </div>
</div>

