{{!< default}}
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div id="polaroid">
        <div class="nav"><a href="/">&larr; Back</a></div>
        <div id="portrait">
          <div id="bluePostIt" class="post-it">
            <div class="title">Michael Quinn Hwang</div>
            <p>Michigan Wolverine living in NYC.<br/>
              Software engineer @ Google.</p>
            <div class="title-small">Things I like:</div>
            Music, Coding, Basketball, Bitcoin, Graphic Design, History, Billiards
          </div>
        </div>
        <div id="socialMediaWrapper">
          <div id="socialMedia">
            <a href="http://www.facebook.com/mqhwang/" target="_blank"><div id="facebookIcon" class="icon"></div></a>
            <a href="http://www.twitter.com/terranmoccasin/" target="_blank"><div id="twitterIcon" class="icon"></div></a>
            <a href="http://www.linkedin.com/in/mqhwang/" target="_blank"><div id="linkedinIcon" class="icon"></div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

