{{!< default}}
<div id="postNav" class="nav"><a href="/">&larr; Back</a></div>
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div id="creditsPaper">
        <div id="creditsTitle">Credits</div> 
        <p>
          BigEndians is powered by <a href="http://ghost.org" target="_new">Ghost</a>, an
          open-source publishing platform.
        </p>
        <p>
          This site is a Ghost theme designed and created by <a href="/about">me</a>.
          All fonts and some images were taken from the sources listed below.
        </p>
        <div class="font-credit">
          <div id="fromCartoonBlocks" class="font-name">
            <a href="http://www.1001freefonts.com/from_cartoon_blocks.font" target="_new">From Cartoon Blocks</a>
          </div>
          <div class="author">Created by Galdino Otten</div>
        </div>
        <div class="font-credit">
          <div id="dkLemonYellowSun" class="font-name">
            <a href="http://www.1001freefonts.com/dk_lemon_yellow_sun.font" target="_new">DK Lemon Yellow Sun</a>
          </div>
          <div class="author">Created by David Kerkhoff</div>
        </div>
        <div class="font-credit">
          <div id="epicAwesomeness" class="font-name">
            <a href="http://www.1001freefonts.com/epic_awesomeness.font" target="_new">Epic Awesomeness</a>
          </div>
          <div class="author">Created by Zachary Lucier</div>
        </div>
        <div class="font-credit">
          <div id="aaargh" class="font-name">
            <a href="http://www.1001freefonts.com/aaargh.font" target="_new">Aaargh</a>
          </div>
          <div class="author">Created by Tup Wanders</div>
        </div>
        <div id="imageCredits">
          <div class="image-credit">
            <div class="title"><a href="http://en.wikipedia.org/wiki/Lab_notebook" target="_new">Journal on the Homepage</a></div>
            <div class="author">Laboratory notebook of Alexander Graham Bell</div>
          </div>
          <div class="image-credit">
            <div class="title"><a href="http://blog.spoongraphics.co.uk/freebies/hand-drawn-sketchy-icons-of-your-favorite-social-sites" target="_new">Social media icons</a></div>
            <div class="author">Chris Spooner (hover states by me)</div>
          </div>
          <div class="image-credit">
            <div class="title"><a href="http://zoestock.deviantart.com/" target="_new">Wrinkled paper</a></div>
            <div class="author">Zoe's Stock Photography</div>
          </div>
        </div>
        <p id="footer">
          The views and opinions expressed by me and those providing comments on this
          blog do not necessarily reflect the views and opinions of any related employer or university.
        </p>
      </div>
    </div>
  </div>
</div>
