{{!< default}}
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div id="creditsPaper">
        <div id="creditsTitle">Credits</div> 
        <p>
          BigEndians is powered by <a href="http://ghost.org" target="_new">Ghost</a>, an open-source publishing 
          platform.
        </p>
        <p>
          This site was designed and created by <a href="/about">me</a>.
          Some images and fonts were taken from the sources listed below.
        </p>
      </div>
    </div>
  </div>
</div>
