{{!< default}}
<div id="wrapper">
  {{#post}}
  <div id="paper">
    <div id="header">
      <div id="titleWrapper">
        <div class="title">
          {{title}}
        </div>
      </div>
    </div>
      <div id="contentWrapper">
        <div class="content {{post_class}}">

          {{content}}
        </div>
      </div>
    </div>
  </div>
  {{/post}}
</div>